@model Presentation.ViewModels.ProExpViewModels.IndexProExpViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("City name", "Index", new { sortOrder = ViewBag.CitySortParm })
        </th>
        <th>
            @Html.ActionLink("Company name", "Index", new { sortOrder = ViewBag.CompanySortParm })
        </th>
        <th>
            @Html.ActionLink("From date", "Index", new { sortOrder = ViewBag.FromDateSortParm })
        </th>
        <th>
            @Html.ActionLink("To date", "Index", new { sortOrder = ViewBag.ToDateSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ProExpModels)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
